.App {
  display: flex;
  height: 100vh;

  .nav {
    display: flex;
    flex-direction: column;

    .nav-link {
      padding: 5px 0;
      color: black;
      text-decoration: none;

      &.active {
        // color: blue;
        font-weight: 800;
      }
    }
  }

  .sub-nav {
    padding-left: 10px;
    display: flex;
    flex-direction: column;

    .sub-nav-link {
      &.active {
        color: blue;
      }
    }
  }

  .wrapper {
    border-left: 4px solid #e5e7eb;
  }
}
